<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<style type="text/css">
		table {
			width: 100%;
			border-collapse: collapse;
		}

		td, th {
			border: 1px solid black;
			text-align: left;
		}
	</style>
</head>

<body>
	<div id='app'>
		<input type="hidden" name="id" v-model="contato.id">
		<p>Nome: <input type="text" name="nome" v-model="contato.nome"></p>
		<p>E-mail: <input type="text" name="email" v-model="contato.email"></p>
		<p>Telefone: <input type="text" name="telefone" v-model="contato.telefone"></p>
		<p>
			<input type="submit" namo="salvar" value="Salvar" onclick="">
			<input type="button" namo="limpar" value="Limpar" onclick="">
		</p>


	</div>

	<script src="agenda.js"></script>
</body>

</html>