/* default font: lato
    background azul : #B7D6F7
    background verde: #63F2E7
    border: #8492A6

    verde lima: #77D353
    vermelho: #FF0004 
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Lato', 'Roboto', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: left;
}

footer{
    text-align: center;
}

#app {
    position: relative;
    left: 0px;
    top: 0px;
}

.background-home{
    position: relative;
    background-color: #B7D6F7;
    width: 100vw;
    height: 100vh;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main-card{
    width: 70%;
    min-height: 670px;
    height: auto;
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: auto;
    background-color: white;
    border-radius: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

.card-content{
    display: block;
    position: relative;
    width: 98%;
    height: auto;
    /* margin: 10px; */
    margin-left: 1%;
    /* border: 1px solid #8492A6; */
    border-radius: 0.5em;
}

.title{
    text-align: center;
    width: 100%;
}

.contacts-list{
    min-height: 525px;
    display: inline-block;
    /* text-align: center; */
    border: 1px solid #8492A6;
    border-radius: 0.5em;
    margin: 10px;
}

.contact-object{
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0px solid #8492A6;
    border-radius: 0.5em;
}

.break {
    display: block;
    margin: 0 auto;
}

.no-contacts{
    margin: 0 auto;
    text-align: center;
}

.contact-icon{
    margin: 0 auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #8492A6;
    border-radius: 50%;
}

.contact-info{
    text-align: left;
    margin: 0 auto;
    display: inline-block;    
}


.contact-action{
    text-align: right;
    margin: 0 auto;
    display: inline-block;
}

.tab-content {
    display: inline-block;
    vertical-align: top;
    height: 525px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    border: 1px solid #8492A6;
    border-radius: 0.5em;
}

.red-star{
    color: red;
}

.circulo {
    position: fixed;
    top: 88%;
    left: 92%;
    text-align: center;
	width: 80px;
    height: 80px;
    /* border: 0px solid white; */
	/* overflow: hidden; */
	/* margin: auto; */
    /* transition: 0.3s; */
    background:  rgb(100, 221, 151);
}

#plus-signal{
    -user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: white;
    font-size: 45px;
    font-weight: bold;
    position: relative;
    top: 5px;    
}

.HiddenButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-obs{
    opacity: 1;
    width: 100%; 
    height: 100%;
    /* margin: auto; */
    padding-top: 10px;
    padding-bottom: 10px;
}

label{
    font: bold;
    /* color: #fff; */
}

/* .formBorda{
    background: rgb(65, 65, 190);
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
} */
